@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --principal: #333;
    --fundo-principal: #C6C6C6;
    --header: linear-gradient(130deg, #302F2F 40%, #FF704D 0%);
    --fundoBarra: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: rgb(100, 100, 100);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-geral {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    width: 333px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .input {
    width: 100%;
    margin-right: .5rem;
    padding: .5rem;
    color: var(--principal);
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Fira code', monospace;
    outline: none;
    border-radius: .5rem;
    border: var(--principal);
}

.btn-input {
    padding: .5rem;
    padding: .5rem;
    color: var(--principal);
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Fira code', monospace;
    border-radius: .5rem;
    border: var(--principal);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fundo-principal);
    width: 333px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}


/* HEADER */

header {
    width: 100%;
    height: 52px;
    background: var(--header);
    border-radius: 5px 5px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.test{
    width: 90%;
    top: 45px;
    z-index: -1;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

p {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.imagePokemon {
    width: 80%;
    position: absolute;
    top: 60px;
}

.imagePokemon .pokemonImage{
    width: 100%;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0px 0 15px 0;
}

.types .type {
    width: 81px;
    height: 28px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 1rem;
}


.status-geral {
    background-color: white;
    width: 95%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.stat {
    margin-top: 15px;
}

.status {
    font-size: 14px;
    font-weight: 700;
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
    text-transform: uppercase;
    border-radius: 5px;
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundoBarra);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.barra1 {
    width: 50%;
    height: 8px;
    background-color: var(--fire);
    border-radius: 5px;
    transition: width .5s ease-in-out;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats span {
    width: 40%;
    font-size: 14px;
    font-weight: 700;
    color: var(--principal);
}

.pp {
    font-size: 14px;
    font-weight: 700;
    color: var(--principal);
}

.btn-final {
    padding: 10px 0 10px 0;
}

.btn-final button {
    width: 80px;
    height: 24px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--principal);
    text-transform: uppercase;
    color: white;
    cursor: pointer;

}

.btn-final button:hover {
    background-color: #FF704D;
    transition: .5s;
}